@model APIEMAIL.Models.Pessoa
@using APIEMAIL.Data
@using Microsoft.AspNetCore.Identity

<div class="modal-header">
    <h5 class="modal-title" id="modalCriarLabel">Criar Usuario</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
</div>

<div class="modal-body">
    <div class="mb-4">
        <label asp-for="Nome" class="form-label">Nome</label>
        <input asp-for="Nome" class="form-control" />
    </div>
    <div class="mb-4">
        <label asp-for="Funcao" class="form-label">Função</label>
        <input asp-for="Funcao" class="form-control" />
    </div>
    <div class="mb-4">
        <label asp-for="Salario" class="form-label">Salário</label>
        <input asp-for="Salario" class="form-control" />
    </div>
    <div class="mb-4">
        <label asp-for="DataNascimento" class="control-label">Data de Nascimento</label>
        <input asp-for="DataNascimento" class="form-control" />
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
    <button type="button" class="btn btn-primary" onclick="salvarCriar()">Salvar</button>
</div>
